@import url(http://fonts.googleapis.com/css?family=Condiment);
@import url(http://fonts.googleapis.com/css?family=McLaren);

p {
	font-family: 'Open Sans';
}
h1 {
	text-transform: uppercase;
}
h1, h2 {
	font-family: 'McLaren', Arial;
}
a {
	font-size: 10px;
}
a:hover {
	color: red;
}
.author {
	font-family: 'Condiment', cursive;
	font-style: italic;
}